{{> head}}


{{> navbar}}

<div class="row">
    <div class="col8">
        <h1>Kobe Bryant</h1>
    </div>

    <div class="col-4">
<img class="img-thumbnail" src="/assets/img/kobe.jpg">
    </div>
</div>

{{> footer}}